@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: 'Press Start 2P';
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;

  height: 100vh;
}

button {
  height: 40px;

  font-size: 24px;
}

.title {
  margin-bottom: 50px;

  font-size: 40px;
}
.list_menu a {
  font-size: 25px;
}
.list_menu li {
  margin: 20px 0 50px;
}
.menu {
  position: fixed;

  padding: 25vh 50px;
}
.background {
  width: 100vw;
  height: 100vh;

  position: absolute;
  z-index: -1;
  overflow: hidden;
}
.background img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}
.list_menu ul {
  list-style: none;
}
.list_menu ul li {
  height: 100%;

  position: relative;
}
.mode_selector {
  padding-top: 30px;
  position: absolute;
  width: 100%;
}
.mode_selector li {
  display: none;

  width: 100%;

  text-align: center;
  
}
.mode_selector li:first-of-type a{
  color: rgb(255, 32, 32);
}
.mode_selector li:nth-of-type(2) a{
  color: rgb(213, 88, 20);
}
.mode_selector li:last-of-type a{
  color: rgb(40, 148, 28);
}
li:hover .mode_selector li {
  display: block;
}
